@import '../../../../styles.scss';

h1,h2{
    text-align: center;
    color: white;
    margin-top: 16px;
}
img{
    width: auto;
    height: 100px;
}
.button-container{
    button{
        color: #202020;
        background-color: #f5f5f5;
        @include pos-center;
    }
}
#cartList{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 75%;
    @include pos-center;
    mat-card{
        display: flex;
        justify-content: space-evenly;
        width: 75%;
        margin: 10px 0;
        img{
            height: 200px;
        }
        .itemName{
            font-size: 25px;
        }
        .itemPrice{
            font-size: 20px;
        }
        #itemInfo{
            width: 165px;
            line-height: 1.2;
        }

    }
}