    <div id="items">
     <mat-card class="example-card fixwidth" *ngFor="let i of items">
        <mat-card-header>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <mat-card-title>{{i.name}}</mat-card-title>
          <mat-card-subtitle><strong>{{i.price}} ₽</strong></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{i.img}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button id="add">ADD TO CART</button>
        </mat-card-actions>
      </mat-card>
    </div>




