#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fixwidth{
    width: 25%;
    margin-top: 40px;
}
#add{
    width: 100%;
}
.mat-card{
    img{
        width: auto;
        height: 245px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
.favright{
margin-left: auto;
margin-right: 0;
}