<mat-toolbar>
    <a routerLink="/">
      <span>Phone-Shop</span>
    </a>
    <span class="example-spacer"></span>
    <div id='pages'>
      <button mat-icon-button [matMenuTriggerFor]="shortFav" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon *ngIf="favList.length > 0; else simpleFavIcon" matBadge="{{favList.length}}" matBadgeColor="warn">favorite</mat-icon>
          <ng-template #simpleFavIcon>
            <mat-icon>favorite</mat-icon>
          </ng-template>
      </button>
      <mat-menu #shortFav="matMenu">
        <div id="shortFav" *ngIf="favList.length > 0; else emptyFav">
          <div *ngFor="let item of favList">
            <img src="{{item.img}}">
            <span>{{item.name}}</span>
            <button mat-icon-button (click)="delFromFavorites(item)">
              <mat-icon>delete</mat-icon>
            </button> 
          </div>
        </div>
      <ng-template #emptyFav>
        <button mat-menu-item >
          <span>Favorites list is empty :(</span>
        </button>
      </ng-template>  
        <button mat-menu-item>
          <a routerLink="favorites">
          <mat-icon>favorite</mat-icon>
          <span>Link to the page</span>
          </a>
        </button>
      </mat-menu>
    
      <button mat-icon-button [matMenuTriggerFor]="shortCart" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon *ngIf="cartList.length > 0; else simpleCartIcon" matBadge="{{cartList.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
        <ng-template #simpleCartIcon>
          <mat-icon>shopping_cart</mat-icon>
        </ng-template>
      </button>
      
      <mat-menu #shortCart="matMenu">
        <!-- <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button> -->
        <button mat-menu-item>
          <a routerLink="cart">
          <mat-icon>shopping_cart</mat-icon>
          <span>Link to the page</span>
        </a>
        </button>
      </mat-menu>
    </div>
    
  </mat-toolbar>
