<h1 *ngIf="list.length > 0; else emptyFavorites">Your favorite phones:</h1>
<ng-template #emptyFavorites> 
    <h1>Favorite list is empty :[</h1> 
    <div class="button-container">
        <button routerLink = '/' mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
</ng-template>
<div id="favorites">
    <mat-card *ngFor="let item of list">
        <mat-card-header>
          <button mat-icon-button  class="example-icon cart">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-icon-button  class="example-icon favorite-icon" (click)="openDialog(item)" >
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </mat-card-header>
        <img src="{{item.img}}">
        <p><strong>{{item.name}}</strong></p>
        <p>{{item.price}} ₽</p>
    </mat-card>
</div>
