<h1 *ngIf="list.length > 0; else emptyFavorites">Your favorite phones:</h1>
<ng-template #emptyFavorites> 
    <h1>Favorite list is empty :[</h1> 
    <div class="button-container">
        <button routerLink = '/' mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
</ng-template>
<div id="favorites">
    <mat-card *ngFor="let item of list">
        <mat-card-header>
          <button mat-icon-button *ngIf="checkItemForCart(item); else notInCart" class="example-icon addCart" (click)="addToCart(item)">
            <mat-icon color="warn">remove_shopping_cart</mat-icon>
          </button>
          <ng-template #notInCart>
            <button mat-icon-button  class="example-icon addCart" (click)="addToCart(item)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </ng-template>
          <button mat-icon-button  class="example-icon favorite-icon" (click)="openDialog(item)" >
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </mat-card-header>
        <img src="{{item.img}}" (click)="openItemDetails(item)">
        <p (click)="openItemDetails(item)"><strong>{{item.name}}</strong></p>
        <p (click)="openItemDetails(item)">{{item.price}} ₽</p>
    </mat-card>
</div>
