<mat-toolbar>
  <a routerLink="/">
  <span>Phone-Shop</span>
  </a>
  <span class="example-spacer"></span>
  <div id='pages'>
    <button mat-icon-button [matMenuTriggerFor]="shortFav" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="15" matBadgeColor="warn" >favorite</mat-icon>
    </button>
    <mat-menu #shortFav="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <a routerLink="/favorites">
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
        </a>
      </button>
    </mat-menu>
  
    <button mat-icon-button [matMenuTriggerFor]="shortCart" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <mat-menu #shortCart="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <a routerLink="/cart">
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </a>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>