    <div id="items">
      <ng-container *ngFor="let item of items$ | async">
        <mat-card class="example-card fixwidth">
          <mat-card-header>
            <button mat-icon-button [ngClass]="{'favorite': checkItemForFavorite(item)}" class="example-icon favorite-icon favright" (click)="checkInWishlist(item)" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <mat-card-title (click)="openDialog(item)">{{item.name}}</mat-card-title>
            <mat-card-subtitle (click)="openDialog(item)"><strong>{{item.price}} ₽</strong></mat-card-subtitle>
          </mat-card-header>
          <img (click)="openDialog(item)" mat-card-image src={{item.img}} alt="Photo of a Shiba Inu">
          <mat-card-content (click)="openDialog(item)">
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="warn" *ngIf="checkItemForCart(item); else isNotInCart" (click)="checkInCart(item)">DELETE FROM CART</button>
            <ng-template #isNotInCart>
              <button mat-button (click)="checkInCart(item)">ADD TO CART</button>
            </ng-template>
          </mat-card-actions>
        </mat-card>
      </ng-container>
     
    </div>




