<div id="modalHeader">
    <h1 mat-dialog-title>Phone details </h1>
    <mat-icon> clear</mat-icon>
</div>
<div mat-dialog-content>
    <div id="topContent">
        <img src="{{data.img}}">
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </div>
    <h2><strong>{{data.name}}</strong></h2>
    <h2>{{data.price}} ₽</h2>
</div>
<div id="modalBottom" mat-dialog-actions>
<button mat-stroked-button><mat-icon>add_shopping_cart</mat-icon>ADD TO CART</button>

<button mat-stroked-button *ngIf="!checkFavorite(data); else noFav" (click)="addToFavotire(data)"><mat-icon>favorite_border</mat-icon>SAVE</button>
<ng-template #noFav>
    <button mat-stroked-button color="warn"  (click)="addToFavotire(data)"><mat-icon color="warn">favorite</mat-icon>SAVED</button>
</ng-template>
</div>